<a href="https://colab.research.google.com/github/RUSHI-eng531/e_Comm/blob/main/Crop_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

In [10]:
Crop = pd.read_csv("/content/Crop.csv")

In [11]:
Crop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [12]:
Crop.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [33]:
# Replace with the actual path to your file
Crop = pd.read_csv('Crop.csv')

# Quick preview
print(Crop.head())
print(Crop.info())

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB
None

In [13]:
Crop.shape

(2200, 8)

In [14]:
print('Dataset has ' + str(Crop.shape[0]) + ' rows, and ' + str(Crop.shape[1]) + ' columns')

Dataset has 2200 rows, and 8 columns

In [15]:
Crop.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [22]:
from sklearn.preprocessing import StandardScaler

# Select features
X = Crop[['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall']]

# Create scaler
scaler = StandardScaler()

# Fit and transform
X_scaled = scaler.fit_transform(X)

mean_Crop = np.mean(X_scaled)
print(f"Mean Crop: {mean_Crop}")

Mean Crop: 2.399235211657481e-17

In [24]:
max_Crop =np.max(X_scaled)
print(f"max Crop:{max_Crop} ")

max Crop:4.478911707956845

In [18]:
Crop.nunique()

N               137
P               117
K                73
temperature    2200
humidity       2200
ph             2200
rainfall       2200
label            22
dtype: int64

In [25]:
Crop.dtypes

N                int64
P                int64
K                int64
temperature    float64
humidity       float64
ph             float64
rainfall       float64
label           object
dtype: object

In [26]:
from sklearn.preprocessing import StandardScaler

# Select features
X = Crop[['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall']]

# Create scaler
scaler = StandardScaler()

# Fit and transform
X_scaled = scaler.fit_transform(X)

In [27]:
Crop = Crop.drop_duplicates()

In [28]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
Crop['label'] = le.fit_transform(Crop['label'])

In [31]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

y = Crop['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [38]:
Crop.drop('label', axis=1)
y = Crop['label']

model = LogisticRegression()
model.fit(X, y)

print("Intercept:", model.intercept_)
print("Coefficient:", model.coef_)
print("Classes:", model.classes_)
print("Iterations:", model.n_iter_)
print("Accuracy:", model.score(X, y))

Intercept: [-0.01116152 -0.01768983 -0.02787489  0.00406155 -0.00500939  0.00330429
 -0.02049962 -0.00599756 -0.00433228  0.01837658  0.00664343  0.02732966
  0.04346472  0.08003602 -0.00420354  0.00121911  0.00532104 -0.07433992
 -0.00578845  0.00381416 -0.01732048  0.00064691]
Coefficient: [[-7.52906317e-01  4.20114807e-01  1.34244562e+00 -3.02513218e-01
  -3.00036778e-01 -8.06288801e-02 -3.90642010e-01]
 [ 6.09791298e-01  2.30812986e-01  2.95226784e-01 -2.71008581e-01
  -5.14148640e-01 -1.42347108e-01  1.43908495e-01]
 [-2.71335747e-01  6.57364179e-01 -6.78415689e-01  3.69183876e-01
   9.14140633e-02 -9.40884033e-02  1.10677671e-01]
 [ 2.94354939e-02  4.43626866e-01  8.28503364e-01 -3.79961379e-02
  -8.20401884e-01  4.51271134e-02  5.09761706e-03]
 [-5.14544381e-01 -9.18391529e-01 -1.99574190e-01 -1.23125568e-01
   5.49953229e-01 -7.17674895e-02  4.72062342e-01]
 [ 1.10405225e+00 -7.43110066e-01 -3.87700536e-01  1.15518102e-01
  -7.02015920e-01  4.25576102e-02  3.54642876e-01]
 [ 8.76031100e-01 -2.30730997e-01 -8.43328480e-01 -3.35735916e-01
   1.00447927e-01 -3.25986861e-02  6.23543280e-02]
 [-6.87524360e-01  5.88249799e-01  1.61570115e+00 -1.81478925e-01
  -3.32529281e-01 -4.45123825e-02 -1.29947906e+00]
 [ 3.49888575e-01 -2.39378297e-01 -4.28931878e-02 -2.05476148e-01
  -1.21940116e-01  6.62576215e-02  3.96807587e-01]
 [-2.64946751e-01  1.10437789e+00 -8.06712977e-02 -4.65982446e-02
  -1.26504199e+00  9.43474846e-02  2.72169445e-01]
 [-3.52795040e-01  8.49856207e-01 -5.42454275e-01 -3.18835063e-01
   3.85094940e-01  9.61023618e-02 -1.63317161e-01]
 [ 7.37135549e-01 -1.00975861e-01 -5.28879223e-01 -1.35537119e-02
  -1.16403482e-01  5.12102341e-02  1.76449814e-01]
 [-4.74548904e-01 -2.47499459e-01  5.27002792e-01  9.97511237e-01
  -1.24997136e-01  1.60277744e-01  2.47556182e-01]
 [-3.97757855e-01  2.99105060e-01 -2.19569310e-01  1.25875683e+00
  -9.03272481e-02  5.18655333e-01  3.57674644e-02]
 [-4.30551035e-01  4.33212601e-04 -6.91482727e-01 -2.75554113e-02
   9.41991664e-01 -3.19489586e-02 -1.15720729e-01]
 [ 8.86511434e-01 -5.78877512e-01  1.83863980e-01  1.17410206e-01
   5.44811285e-01  2.29769007e-03 -1.40959361e+00]
 [-5.18207310e-01 -6.73983289e-01 -8.86158108e-01 -1.25561441e-02
   8.47335352e-01  6.75978720e-02  3.08020563e-01]
 [-3.66847555e-01  1.02744369e-01  6.96936303e-01 -2.15033120e-01
   1.71684071e-01 -3.99096345e-01  2.46956133e-01]
 [-3.35504305e-01  6.16173848e-01 -8.25010796e-01  2.10506809e-01
  -5.43280805e-03 -8.61448593e-02  3.19134002e-01]
 [-4.95870588e-01 -6.26992104e-01  5.28344544e-01 -2.48203323e-01
   6.74119874e-01  2.91676596e-02  1.47380800e-01]
 [ 3.60109969e-01 -3.10836399e-01 -3.07982744e-01 -6.80227395e-01
  -8.10259406e-02 -1.95763119e-01  5.13647938e-01]
 [ 9.10384482e-01 -6.42083712e-01  2.16096027e-01 -4.89901555e-02
   1.67448822e-01  5.29750769e-03 -4.33880687e-01]]
Classes: ['apple' 'banana' 'blackgram' 'chickpea' 'coconut' 'coffee' 'cotton'
 'grapes' 'jute' 'kidneybeans' 'lentil' 'maize' 'mango' 'mothbeans'
 'mungbean' 'muskmelon' 'orange' 'papaya' 'pigeonpeas' 'pomegranate'
 'rice' 'watermelon']
Iterations: [100]
Accuracy: 0.9722727272727273

/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [41]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

y_pred = model.predict(X)
# Metrics
print("Accuracy:", accuracy_score(y, y_pred))
print("Precision:", precision_score(y, y_pred, average='weighted'))
print("Recall:", recall_score(y, y_pred, average='weighted'))
print("F1 Score:", f1_score(y, y_pred, average='weighted'))

Accuracy: 0.9722727272727273
Precision: 0.9727578166176832
Recall: 0.9722727272727273
F1 Score: 0.972298277897148

In [43]:
# Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y, y_pred)
print("\nConfusion Matrix:\n", cm)

Confusion Matrix:
 [[100   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0]
 [  0 100   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0]
 [  0   0  91   0   0   0   0   0   0   0   1   1   0   7   0   0   0   0
    0   0   0   0]
 [  0   0   0 100   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0]
 [  0   0   0   0 100   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0]
 [  0   0   0   0   0  99   0   0   1   0   0   0   0   0   0   0   0   0
    0   0   0   0]
 [  0   0   0   0   0   0  96   0   0   0   0   4   0   0   0   0   0   0
    0   0   0   0]
 [  0   0   0   0   0   0   0 100   0   0   0   0   0   0   0   0   0   0
    0   0   0   0]
 [  0   0   0   0   0   1   0   0  94   0   0   0   0   0   0   0   0   1
    0   0   4   0]
 [  0   0   0   0   0   0   0   0   0 100   0   0   0   0   0   0   0   0
    0   0   0   0]
 [  0   0   5   0   0   0   0   0   0   0  94   0   0   1   0   0   0   0
    0   0   0   0]
 [  0   0   0   0   0   0  11   0   0   0   0  89   0   0   0   0   0   0
    0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0 100   0   0   0   0   0
    0   0   0   0]
 [  0   0   5   0   0   0   0   0   0   0   0   0   0  92   2   0   0   0
    1   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   2   0   0   0  98   0   0   0
    0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0 100   0   0
    0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0 100   0
    0   0   0   0]
 [  0   0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0  98
    0   0   1   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
  100   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0 100   0   0]
 [  0   0   0   0   0   0   0   0  12   0   0   0   0   0   0   0   0   0
    0   0  88   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0 100]]

In [44]:
cm = confusion_matrix(y, y_pred)

TN = cm[0, 0]
FP = cm[0, 1]

specificity = TN / (TN + FP)
print("Specificity:", specificity)

Specificity: 1.0